<link rel="stylesheet" href="/css/footer.css">
<div id="myfooter">
    <div id="name">
        <span class="TextinNav">&#169; ShareExpress.</span><br><span class="TextinNav" style="font-weight:500; color:#ee1c24">All Rights Reserved</span>
    </div>
    <div id="right" style="top:1.3rem;">
        <a href="/" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1rem; font-weight:500;color:white;padding:8px 20px ;background-image:linear-gradient(225deg, rgba(238, 28, 36, 0.4), rgba(33, 38, 44, 0.7));border:1px black solid;margin-right:2rem ;">Home</a>
        <!-- <a href="/users/profile" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1rem; font-weight:500;color:white;padding:8px 20px  ;background-image:linear-gradient(225deg, rgba(238, 28, 36, 0.4), rgba(33, 38, 44, 0.7));border:1px black solid;margin-right:2rem ;">Profile</a> -->
    </div>
</div>