<link rel="stylesheet" href="/css/home.css">
<!-- <h1>ShareExpress / <%= title %></h1> -->
<div id="body" >
<div id="name" style="text-align: center;margin:5rem; width:100%;"> 
<span class="TextinNav" style="font-size: 10rem;">Share</span><br><span class="TextinNav" style="font-weight:700; color:#ee1c24 ;font-size: 10rem;">Express</span>
</div>
<div style="text-align:center;width:100%;margin-top:4rem ;">
    <a href="/users/sign-in" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1.2rem; font-weight:550;color:lightgrey;padding:15px 35px ;background-image:linear-gradient(45deg,rgba(238,28,36,0.6),rgba(33,38,44,0.7));border:1px grey solid;margin-right:3rem ;">Sign In</a>
    <a href="/users/sign-up" class="TextinBlock catstyle" id="Deselectallbtn" style="font-size:1.2rem; font-weight:550;color:lightgray;padding:15px 35px ;background-image:linear-gradient(45deg,rgba(238,28,36,0.6),rgba(33,38,44,0.7));border:1px grey solid;;">Sign Up</a>		
</div>
</div>