<div id="body" style="margin-top:8rem;">
    <div id="name" style="margin:5rem; width:50%;">
        <span class="TextinNav" style="font-size: 10rem;">Share</span><br><span class="TextinNav" style="font-weight:700; color:#ee1c24 ;font-size: 10rem;">Express</span>
    </div>
    <form action="/users/create-session" method="POST" style="margin-top: 5rem;width:30%">
        <!-- for the task tile -->
            <div id="tasktitle">
                <div class="headstyle">
                    <label for="titles">
                        E-Mail ID
                    </label>
                </div>
                <div class="Block">
                    <input type="email" required="true" placeholder="What's your E-mail Address?" id="titles" name="email">
                </div>  
            </div>
            <!-- for the task description -->
            <div id="taskdescription">
                <div class="headstyle">
                    <label for="Describe">
                        Password
                    </label>
                </div>
                <div class="Block">
                    <input type="password" required="true" placeholder="Enter your E-mail Password" id="Describe" name="password">
                </div>
            </div>
        <!-- add task and delete task button  -->
        <div class="boxes" style="justify-content:center;margin-top:3rem;">
            <button type="submit">Sign In</button>
        </div>
        <a href="/users/auth/google" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1rem; font-weight:500;color:lightgrey;padding:10px 20px  ;background-image:linear-gradient(45deg,rgba(238,28,36,0.05),rgba(33,38,44,0.9));border:1px black solid;margin-right:2rem ;">Google Sign In/Sign Up</a>
            
        
    </form>  
</div>