<!-- <link rel="stylesheet" href="/css/users_profile.css">
<h1>ShareExpress / <%= title %></h1> -->
<div id="body" style="margin-top:8rem;">
    <div id="name" style="margin:5rem; width:50%;">
        <span class="TextinNav" style="font-size: 10rem;">Share</span><br><span class="TextinNav" style="font-weight:700; color:#ee1c24 ;font-size: 10rem;">Express</span>
    </div>
    <form style="margin-top: 5rem;width:30%;height:350px">
        <!-- for the task tile -->
            <div id="tasktitle">
                <div class="headstyle">
                    <label for="titles">
                        E-Mail ID
                    </label>
                </div>
                <div class="Block" style=" padding: 4px 10px;color: lightgray;line-height: 1.6;font-size: 1.2rem;font-weight: 500;">
                    <%=user.email%>
                </div>  
            </div>
            <!-- for the task description -->
            <div id="taskdescription">
                <div class="headstyle">
                    <label for="Describe">
                        Name
                    </label>
                </div>
                <div class="Block" style=" padding: 4px 10px;color: lightgray;line-height: 1.6;font-size: 1.2rem;font-weight: 500;">
                    <%=user.name%>
                </div>
            </div>
            <div class="boxes" style="justify-content:center;margin-top:3rem;">
                <a href="/users/sign-out" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1.2rem; font-weight:550;color:lightgrey;padding:15px 35px ;background-image:linear-gradient(45deg,rgba(238,28,36,0.6),rgba(33,38,44,0.7));border:1px grey solid;margin-right:3rem ;">Sign Out</a>
            </div>
    </form>  
</div>
